# Dependencies
/node_modules/

# Next.js build output
/.next/
/out/

# Production build
/build/

# Python __pycache__
/backend/__pycache__/
/**/__pycache__/

# Python bytecode
*.py[cod]

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*  # misalnya .env.local, .env.production

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS metadata
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp

# Others
*.log